package year{year}

import (
	"math"

	"github.com/lanphiergm/adventofcodego/internal/utils"
)

// {puzzlename} Part 1 computes {part 1 description}
func {puzzlename}Part1(filename string) int {
	return 0
}

// {puzzlename} Part 2 computes {part 2 description}
func {puzzlename}Part2(filename string) int {
	return 0
}
