package year{year}

import (
	"github.com/lanphiergm/adventofcodego/internal/utils"
)

// {puzzlename} Part 1 computes {DESCRIPTION}
func {classname}Part1(filename string) interface{} {
	data := utils.ReadStrings(filename)
	return len(data)
}

// {puzzlename} Part 2 computes {DESCRIPTION}
func {classname}Part2(filename string) interface{} {
	return 0
}
